<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="logo-section">
      <ion-img src="https://i.ibb.co/3Kdz0Pf/rs-w-889-h-500-cg-true-removebg-preview.png" alt="Logo de Tecnica 80"></ion-img>
      <div class="logo-text">
        <span class="main-text">Tecnica 80</span>
        <span class="sub-text">Escuela</span>
      </div>
    </div>

    <div class="form-section">
      <h2>Iniciar sesion</h2>
      <ion-item lines="none" class="input-item">
        <ion-input placeholder="Username"></ion-input>
      </ion-item>

      <!-- Campo para la contraseña -->
      <ion-item lines="none" class="input-item">
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>

        <div class="forgot-password-container" id="present-alert">
          <ion-alert
            trigger="present-alert"
            header="Administracion"
            subHeader="Escuela Secundaria tecnica 80"
            message="Ir a la institucion para cambio de contraseña."
          ></ion-alert>
          <a>¿Olvidaste tu contraseña?</a>
          </div>

      <!-- Botones de acción --> 
      <ion-button expand="block" class="login-btn">LOGIN</ion-button>

    </div>
  </div>
</ion-content>
