<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="logo-section">
      <ion-img src="https://i.ibb.co/3Kdz0Pf/rs-w-889-h-500-cg-true-removebg-preview.png" alt="Logo de Tecnica 80"></ion-img>
      <div class="logo-text">
        <span class="main-text">Tecnica 80</span>
        <span class="sub-text">Escuela</span>
      </div>
    </div>

    <div class="form-section">
      <h2>Iniciar sesion</h2>
      <ion-item lines="none" class="input-item">
        <ion-input placeholder="Username"></ion-input>
      </ion-item>

      <!-- Campo para la contraseña -->
      <ion-item lines="none" class="input-item">
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>

      <!-- Enlace para recuperar contraseña -->
      <div class="forgot-password-container">
        <a href="#">Forgot password?</a>
      </div>

      <!-- Botones de acción -->
      <ion-button expand="block" class="login-btn">LOGIN</ion-button>
      <ion-button expand="block" fill="clear" class="close-btn">Close</ion-button>

    </div>
  </div>
</ion-content>
